<template>
  <v-app-bar color="primary" app clipped-left dark>
    <v-toolbar-title>
      <router-link class="brand" to="/">
        ИНФОРМАЦИОННАЯ СИСТЕМА МЕДИЦИНСКОГО КОЛЛЕДЖА
      </router-link>
    </v-toolbar-title>
  </v-app-bar>
</template>
<style lang="scss" scoped>
.brand {
  min-width: 300em;
  color: white;
  text-decoration: none;
}

.brand {
  &:hover {
    cursor: pointer;
  }
}
</style>

<script>
/*import { mapGetters, mapState } from "vuex";
import { AUTH_LOGOUT } from "actions/auth";*/

export default {
  name: "headers"
  /*  methods: {
    logout: function() {
      this.$store.dispatch(AUTH_LOGOUT).then(() => this.$router.push("/login"));
    }
  },
  computed: {
    ...mapGetters(["getProfile", "isAuthenticated", "isProfileLoaded"]),
    ...mapState({
      authLoading: state => state.auth.status === "loading",
      name: state => `${state.user.profile.title} ${state.user.profile.name}`
    })
  }*/
};
</script>
