<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar color="primary" dark flat>
                <v-toolbar-title>Login form</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    v-model="username"
                    id="username"
                    label="Логин"
                    outlined="outlined"
                    prepend-inner-icon="person"
                    type="text"
                    clearable="clearable"
                  ></v-text-field>
                  <v-text-field
                    v-model="password"
                    id="password"
                    label="Пароль"
                    outlined="outlined"
                    prepend-inner-icon="lock"
                    :type="show ? 'text' : 'password'"
                    :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="show = !show"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click="sing_in" color="primary">Войти</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<style></style>

<script>
import { AUTH_REQUEST } from "../../store/actions/auth";

export default {
  name: "logins",

  data: () => ({
    drawer: null,
    show: false,
    username: "testLogin",
    password: "testLogin"
  }),
  methods: {
    sing_in: async function() {
      var username = this.username.toString();
      var password = this.password.toString();
      this.$store.dispatch(AUTH_REQUEST, { username, password }).then(() => {
        this.$router.go("/").catch(err => {
          throw new Error(`Problem handling something: ${err}.`);
        });
      });
    }
  }
};
</script>
