<template>
  <div>
    <!--    :mini-variant.sync="mini"-->
    <v-navigation-drawer
      v-model="drawer"
      permanent
      color="gray lighten-4"
      app
      :mini-variant.sync="mini"
      clipped
    >
      <v-list dense class="grey lighten-4" style="height: 100%;">
        <v-list-item class="px-2">
          <v-list-item-avatar>
            <v-img
              v-bind:src="photo_path"
              lazy-src="https://randomuser.me/api/portraits/men/85.jpg"
            ></v-img>
          </v-list-item-avatar>
          <v-list-item-title>{{ username }}</v-list-item-title>

          <v-btn icon @click.stop="mini = !mini">
            <v-icon>mdi-chevron-left</v-icon>
          </v-btn>
        </v-list-item>
        <v-divider />
        <template v-for="(item, i) in items">
          <v-layout v-if="item.heading" :key="i" row align-center>
            <v-flex xs6>
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-flex>
            <v-flex xs6 class="text-xs-right">
              <v-btn small text>edit</v-btn>
            </v-flex>
          </v-layout>
          <v-divider
            v-else-if="item.divider"
            :key="i"
            dark
            class="my-3"
          ></v-divider>
          <v-list-item v-else :key="i" v-on:click="click_item_menu(item.text)">
            <v-list-item-action>
              <v-icon style="width: 24px">{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="black--text">
                {{ item.text }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-content>
      <v-img
        lazy-src="../../assets/main_content.png"
        src="../../assets/main_content.png"
        style="width: 100%"
      >
        <!--Пример загрузки изображений-->
        <template v-slot:placeholder>
          <v-row class="fill-height ma-0" align="center" justify="center">
            <v-progress-circular
              indeterminate
              color="grey lighten-5"
            ></v-progress-circular>
          </v-row>
        </template>
      </v-img>
    </v-content>
  </div>
</template>

<style></style>

<script>
import { mapGetters, mapState } from "vuex";
import { AUTH_LOGOUT } from "../../store/actions/auth";
import { USER_REQUEST } from "../../store/actions/user";

export default {
  name: "mains",

  data: () => ({
    //    icon_avatar.setI
    drawer: null,
    items: [
      { text: "Прием", icon: "fa-user-graduate" },
      { text: "Студенты", icon: "fa-users" },
      { text: "Расписание", icon: "fa-calendar-alt" },
      { text: "Журналы", icon: "fa-book-open" },
      { text: "Педагоги", icon: "fa-chalkboard-teacher" },
      { divider: true },
      { text: "СДО", icon: "fa-book-open" },
      { text: "Библиотека", icon: "fa-book-medical" },
      { text: "Документы", icon: "fa-file-alt" },
      { divider: true },
      { text: "Настройки", icon: "fa-user-cog" },
      { text: "Справка", icon: "fa-question-circle" },
      { text: "Выйти", icon: "fa-sign-out-alt" },
      { divider: true }
    ],
    mini: true
  }),
  computed: {
    ...mapGetters(["getUsername"]),
    ...mapState({
      photo_path: state => `${state.user.user.photo_path}`,
      username: state => `${state.user.user.username}`
    })
  },
  created: function() {
    if (this.$store.getters.isAuthenticated) {
      this.$store.dispatch(USER_REQUEST).then(() => {
        this.$store.getters.getUsername.getters;
        console.log("store.username: " + this.$store.getters.getUsername);
      });
    }
  },
  methods: {
    click_item_menu: function(event) {
      console.log("click_item: " + event);
      switch (event) {
        case "Выйти": {
          this.$store
            .dispatch(AUTH_LOGOUT)
            .then(() => this.$router.go("/login"));
          break;
        }
      }
    }
  }
};
</script>
