<template>
  <v-app>
    <headers />
    <router-view />
    <footers />
  </v-app>
</template>

<script>
import headers from "./components/headers";
import footers from "./components/footers";
//import { USER_REQUEST } from "./store/actions/user";

export default {
  name: "App",
  components: {
    headers,
    footers
  },
/*  created: function() {
    if (this.$store.getters.isAuthenticated) {
      this.$store.dispatch(USER_REQUEST);
    }
  }*/
};
</script>
